# dependencies
node_modules
.pnp
.pnp.*

# build outputs
.next/
out/
dist/
build/

# testing
coverage/
test-results/
playwright-report/
blob-report/

# env files
.env
.env.local
.env.development
.env.production
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
*.pem
.vscode/*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*
